@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 52px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */

  --size-border-radius: 4px;

  /* Universal tags */
  --animation-duration: 300ms;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/* Universal tag */

* {
  box-sizing: border-box;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
  min-width: 1200px;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.major__icon {
  transition: all var(--animation-duration);
}
.major__icon:hover {
  color: var(--color-dark-pink);
  transform: rotate(-30deg) scale(1.3);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color : var(color-light-grey);
}
ul {
  list-style-type: none;
  padding-left: 0;
}

#navbar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  align-items: center;
  color: var(--color-white);
}

a.router-link-exact-active {
  text-decoration: underline;
}

a.router-link{
  text-decoration: none;
}

router-link {
  text-decoration: none;
}

.navbar__a {
  text-decoration: none;
  justify-content: space-between;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-size: var(--weight-semi-bold);
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  width: 100%;
}

.navbar__menu__item :hover {
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;


}




.navbar__menu__item :active {
  /* border: 1px solid white; */
  font-weight: var(--weight-bold);
}


.navbar_icons {
  display: flex;
  list-style: none;
  color: var(--color-white);
}

.navbar_icons li {
  padding: 8px 12px;
}


.navbar_togleBtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
  display: none;
}


/*nav */
@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #263343;
    padding: 8px 12px;
  }
  .navbar__menu {
    flex-direction: column;
    width: 100%;
  }

  .navbar__menu__item {
    text-align: center;
    width: 100%;
  }
 
  .navbar_icons {
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .navbar_togleBtn {
    display: block;
  }
 
 
  
}

/* Home */
#home {
  /* background: url("imgs/main.png") center/cover  no-repeat;
    */
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 100px 80px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
  padding : 24px 24px;
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

#app {
  font-family: "Source Sans Pro", sans-serif;
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: var(--color-black);
  text-align: end;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
  margin: 0;
  display: flex;
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

/* component */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 250px;
    height: 250px;
    display: flex;
  }

  .navbar__menu{
    display: no;
  }
  .navbar_icons {
    display: none;
  }
   .testimonial__speech-bubble {
     display: flex;
   }

}

.author {
  max-width: 16em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h3__item__title {
  font-size: 20px;
  line-height: 26px;
  color: #333;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.askitem__profile {
  width: 100%;
  display: flex;
  margin: 20px 0;
  padding: 50px;
  text-align: center;
  margin: auto;
  min-width: 1200px;
  align-items: center;
}

.askitem__profile__img {
  width: 170px;
  height: 170px;
  line-height: 170px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 16px;
}

.user_container {
  display: flex;
  align-items: center;
}
.user__container__description {
  padding-left: 8px;

}

.news-list {
  margin: 0;
  padding: 0;
}

.news-list__post {
  list-style: none;
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.news-list__post :hover {
  list-style: none;
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.news-list__point {
  width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  font-weight: var(--weight-semi-bold);
}
.news-list__content__title{
  margin: 0;
}




small{
  color : var(color-light-grey);
  margin : 0;
}

